body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

footer {
    background-color: rgb(59 29 88 / 83%);
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer .social-media a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

footer .social-media a:hover {
    color: #ff9900;
}

footer p {
    margin: 5px 0;
}